@charset "UTF-8";

/* NOTES
light grey background
white header
blue link color
text color
image quality
hover animation on info
hover animation on courses
make site responsive
center thesis text

*/

/* Universal Styles */
html {
  font-size: 16px;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: #404040;
  position: relative;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: white;
  /*position: fixed;*/
  z-index: 1;
  width: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  height: 100%;
}
header .logo img {
  display: inline-block;
  height: 3rem;
  padding-top: .3rem;
}
.bold {
  font-weight: bold;
}
.light {
  color: #9C9C9C;
}
nav {
  padding-right: 1.5rem;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 1rem;
}

/* Banner */
main {
  position: relative;
  top: 4rem;
}
.banner-section {
  background-color: #CCCCCC;
  display: flex;
  padding: 2rem 1.5rem;
}
.banner-section img {
  width: 60%;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding-left: 3rem;
  line-height: 1.25;
}
.banner-text h2,
h3,
button {
  margin: 1.5rem 0;
}
.banner-text button {
  width: 85%;
  background-color: #404040;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
}

/* Info */
.info-section {
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-height: 48rem;
}
.main-info {
  width: 60%;
  padding: 2rem 1.5rem;
}
.main-info img {
  width: 100%;
}
.main-info .text {
  width: 90%;
}
.main-info h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.quote-author {
  display: block;
  padding: 2rem 0.5rem;
}
.info-container {
  width: 40%;
  margin: 1rem 0;
  border-radius: 3px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /*border-left: 1px solid grey;*/
}
.info-container::-webkit-scrollbar {
  display: none;
}
.info {
  display: flex;
  width: 100%;
  /*border-top: 1px solid grey;
  border-bottom: 1px solid grey;*/
  margin: 2px 0;
  border-radius: 3px;
}
.info:hover {
  background-color: #CCCCCC;
}
.info img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
  border-radius: 3px;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}
.info-text p {
  line-height: 1.5;
}
.info-text h3 {
  margin: 0;
  padding: 0.5rem 0;
}
.info-text p {
  margin: 0;
  padding: 0.5rem 0;
}
.info-text span {
  margin: 0;
  padding: 0.5rem 0;
}
.info-text a {
  color: dodgerblue;
}

/* Courses */
.courses-section {
  background-color: #CCCCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-top: 2rem;
}
.courses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4.5rem;
}
.course {
  width: 31%;
  background-color: white;
  margin: 1rem;
}
.course:hover {
  transform: scale(1.025);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
.course img {
  height: auto;
  max-width: 100%;
}
.course .text {
  padding: 1rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}
.course .text h3 {
  margin: 0;
}
.course .text h3 {
  padding: 0.5rem;
}
.course .text p {
  padding: 0.5rem;
}

/* Thesis */
.thesis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thesis-section .heading {
  margin: 3rem 0;
}
.thesis-subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 43rem;
}
.main-thesis {
  width: 60%;
  padding: 2rem 1.5rem;
}
.main-thesis video {
  width: 100%;
  height: auto;
  display: block;
}
.thesis-container {
  width: 40%;
  margin: 1rem 0;
  border-radius: 3px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.thesis-container::-webkit-scrollbar {
  display: none;
}
.thesis {
  padding-left: 1rem;
  padding-right: ;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  margin: 2px 0;
}
.thesis:hover {
  background-color: #CCCCCC;
}
.thesis img {
  height: auto;
  max-width: 35%;
  margin: 1rem;
  margin-left: 0;
  border-radius: 3px;
}
.thesis .text {
  padding-right: 3rem;
}
.thesis .text h3 {
  line-height: 1.25;
}
.thesis .text p {
  line-height: 1.5;
}


/* Footer */
footer {
  position: relative;
  top: 4rem;
  background-color: white;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  margin: 0 0.25rem;
  border-top: 1px solid grey;
}
.footer-nav ul li {
  display: inline-block;
  margin-left: 1rem;
}
