@charset "UTF-8";

/*
NOTES

beautify CSS
make site responsive
mobile site
fix max-height
*/

/* Universal Styles */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-grey);
  color: var(--text-color);
  --dark-grey: rgb(216,216,216);
  --medium-grey: rgb(234,235,236);
  --light-grey: rgb(243,245,245);
  --text-color: rgb(74,74,74);
  --text-color: rgb(48,48,48);
  --blue-text: rgb(30, 144, 255);
  --border-color: rgb(220, 220, 220);
}
.em {
  font-style: italic;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
::selection {
  background-color: var(--dark-grey);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(241, 241, 241, 1);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2.5px 5px rgba(0,0,0,0.19);
}
header .logo {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  height: 100%;
}
header .logo img {
  display: inline-block;
  height: 2.5rem;
  padding-top: .3rem;
}
.company-name {
  color: black;
  padding-left: 0.5rem;
}
.bold {
  font-weight: bold;
}
.light {
  color: var(--dark-gre);
}
nav {
  padding-right: 1.5rem;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 1rem;
}
header a {
  transition: all 0.5s ease;
  padding: 1rem 0;
}
header a:hover {
  color: var(--blue-text);
  border-bottom: 1px solid var(--blue-text);
}

/* Banner */
main {
  position: relative;
  top: 4rem;
}
.banner-section {
  background-color: var(--dark-grey);
  display: flex;
  padding: 2rem 1.5rem;
}
.banner-section img {
  width: 60%;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding-left: 3rem;
  line-height: 1.25;
}
.banner-text h2,
h3,
.banner-button {
  margin: 1.5rem 0;
}
.banner-button {
  display: inline-block;
  text-align: center;
  width: 85%;
  background-color: var(--text-color);
  color: white;
  font-size: 1.25rem;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
}
.banner-button:hover {
}

/* Info */
.info-section {
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  max-height: 48rem;
  margin-right: 2px;
}
.main-info {
  width: 60%;
  padding: 2rem 1.5rem;
}
.main-info img {
  width: 100%;
}
.main-info .text {
  width: 90%;
}
.main-info h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.quote-author {
  display: block;
  padding: 2rem 0.5rem;
  font-weight: bold;
}
.info-container {
  width: 40%;
  margin: 1rem 0;
  margin-top: 2rem;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: white;
}
.info {
  display: flex;
  width: 100%;
  border-radius: 3px;
}
.info:hover {
  background-color: var(--dark-grey);
}
.info img {
  max-width: 35%;
  height: auto;
  margin: 1rem;
  border-radius: 3px;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 2rem;
}
.info-text p {
  line-height: 1.5;
}
.info-text h3 {
  margin: 0;
  padding: 0.5rem 0;
}
.info-text p {
  margin: 0;
  padding: 0.5rem 0;
}
.info-text span {
  margin: 0;
  padding: 0.5rem 0;
}
.info-text a {
  color: var(--blue-text);
}

/* Courses */
.courses-section {
  background-color: var(--medium-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#courses {
  position: absolute;
  top: -4rem;
}
.courses-section .heading {
  margin-top: 3rem;
}
.courses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4.5rem;
}
.course {
  width: 31%;
  background-color: white;
  margin: 1rem;
  border-radius: 3px;
}
.course:hover {
  transform: scale(1.025);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
.course img {
  height: auto;
  max-width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.course .text {
  padding: 1rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}
.course .text h3 {
  margin: 0;
  padding: 0.5rem;
}
.course .text p {
  padding: 0.5rem;
}
.italic {
  font-style: italic;
}

/* Thesis */
.thesis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2px;
  background-color: var(--light-grey);
}
.thesis-section .heading {
  margin: 3rem 0;
}
.thesis-subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 44rem;
}
.main-thesis {
  width: 60%;
  padding: 2rem 1.5rem;
  padding-top: 0;
}
.main-thesis video {
  width: 100%;
  height: auto;
  display: block;
}
.main-thesis .text {
  width: 95%;
  line-height: 1.5;
}
.thesis-container {
  width: 40%;
  margin-bottom: 1rem;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: white;
}
.thesis {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}
.thesis:hover {
  background-color: var(--dark-grey);
  cursor: pointer;
}
.thesis img {
  height: auto;
  max-width: 35%;
  margin: 1rem;
  margin-left: 0;
  border-radius: 3px;
}
.thesis .text {
  padding-right: 3rem;
  padding-left: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thesis .text h3 {
  line-height: 1.25;
  margin: 0;
}
.thesis .text p {
  line-height: 1.5;
  padding-top: 1rem;
  margin: 0;
}

/* Footer */
footer {
  position: relative;
  top: 4rem;
  background-color: var(--light-grey);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  margin: 0 0.25rem;
  border-top: 1px solid var(--border-color);
}
.footer-nav ul li {
  display: inline-block;
  margin-left: 1rem;
}
footer a {
  transition: color 0.5s ease;
  padding: 1rem 0;
}
footer a:hover {
  color: rgba(74,74,74, 0.6);
}
